#doc-container {
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto","PT Sans","Arial","sans-serif";
}
#doc-nav {
    width: 280px;
    padding-right: 20px;
    float: left;
}
#doc-nav ul {
    margin: 0 0 0 20px;
    list-style-type: none;
    font-size: 15px;
}
#doc-nav ul li {
    padding: 2px;
}
#doc-nav-title {
    font-size: 24px;
    padding: 6px 0 6px 10px;
}
#doc-nav .chapter {
    padding-right: 6px;
}
#doc-nav .active-chapter {
    color: #116c77;
    font-weight: 400;
}
#doc-content {
    width: 900px;
    padding-bottom: 40px;
    float: left;
}
#doc-content h1 {
    font-family: "Roboto","Arial","sans-serif";
    letter-spacing: -1px;
    text-align: left;
    font-size: 34px;
    font-weight: 300;
    color: #116c77;
    margin: 0 auto 20px auto;
}
#doc-content h2 {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #116c77;
    margin: 40px auto 20px auto;
}
#doc-content h3 {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    color: #116c77;
    margin: 30px auto 20px auto;
}
#doc-content h4 {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #116c77;
    margin: 30px auto 20px auto;
}
#doc-content p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 30px;
}
#doc-content b {
    font-weight: 500;
    color: #555555;
}
#doc-content em {
    color: #aa0000;
    font-style: normal;
}
#doc-content a {
    color: #116c77;
    text-decoration: none;
}
#doc-content a:hover {
    text-decoration: underline;
}
#doc-content pre {
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    margin: 30px 0 30px 10px;
    padding: 10px;
    color: #3B3F70;
    border-left: 3px solid #C0C2DF;
    overflow: auto;
}
#doc-content ul, #doc-content ol {
    margin: 20px 0 20px 40px;
}
#doc-content ul li, #doc-content ol li {
    font-size: 16px;
    line-height: 24px;
}
#doc-content .no-bullet-first-child li:first-child {
    list-style-type: none;
}
#doc-content table {
    width: 100%;
    font-size: 15px;
    line-height: 27px;
    border-collapse: collapse;
    margin: 20px 0;
}
#doc-content table th {
    text-align: left;
    font-weight: 400;
    color: #232650;
    white-space: nowrap;
}
#doc-content table th, #doc-content table td {
    border-bottom: 1px solid #d1d1d1;
    vertical-align: top;
    padding: 2px 5px;
}
/*#doc-content table td:first-child, #doc-content table td:nth-child(2) {*/
#doc-content table td:first-child {
    white-space: nowrap;
}
