#doc-container {
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto","PT Sans","Arial","sans-serif";
}
#doc-nav {
    width: 280px;
    padding-right: 20px;
    float: left;
}
#doc-nav ul, #doc-nav ol {
    margin: 0 0 0 30px;
    font-size: 15px;
}
#doc-nav ul li, #doc-nav ol li {
    padding: 2px 0;
}
#doc-nav-title {
    font-size: 24px;
    padding: 6px 0 6px 10px;
}
#doc-nav .chapter {
    padding-right: 6px;
}
#doc-nav .chapter-title {
}
#doc-nav .active-chapter {
    color: #116c77;
    font-weight: 500;
}
#doc-content {
    width: 900px;
    padding-bottom: 40px;
    float: left;
}
#doc-content h1, #doc-content h1 a {
    font-family: "Roboto","Arial","sans-serif";
    letter-spacing: -1px;
    text-align: left;
    font-size: 34px;
    font-weight: 300;
    color: #116c77;
    margin: 0 auto 20px auto;
}
#doc-content h2, #doc-content h2 a {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #116c77;
    margin: 40px auto 20px auto;
}
#doc-content h3 {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    color: #116c77;
    margin: 30px auto 20px auto;
}
#doc-content h4 {
    font-family: "Roboto","Arial","sans-serif";
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #116c77;
    margin: 30px auto 20px auto;
}
#doc-content p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 30px;
}
#doc-content b {
    font-weight: 500;
    color: #555555;
}
#doc-content i {
    color: #860B0B !important;
}
#doc-content em {
    color: #aa0000;
    font-style: normal;
}
#doc-content a {
    color: #116c77;
    text-decoration: none;
}
#doc-content a:hover {
    text-decoration: underline;
}
#doc-content pre {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 30px 0 30px 10px;
    padding: 6px 10px;
    color: #9A61C8;
    border-left: 3px solid #C0C2DF;
    overflow: auto;
}
#doc-content ul, #doc-content ol {
    margin: 20px 0 20px 40px;
}
#doc-content ul li, #doc-content ol li {
    font-size: 16px;
    line-height: 24px;
}
#doc-content .no-bullet-first-child li:first-child {
    list-style-type: none;
}
#doc-content table {
    width: 100%;
    font-size: 15px;
    line-height: 27px;
    border-collapse: collapse;
    margin: 20px 0;
}
#doc-content table th {
    text-align: left;
    font-weight: 400;
    color: #232650;
    white-space: nowrap;
}
#doc-content table th, #doc-content table td {
    border-bottom: 1px solid #d1d1d1;
    vertical-align: top;
    padding: 2px 5px;
}
/*#doc-content table td:first-child, #doc-content table td:nth-child(2) {*/
#doc-content table td:first-child {
    white-space: nowrap;
}
.status-OK.inline, .status-WARNING.inline, .status-CRITICAL.inline, .status-UNKNOWN.inline, .status-INFO.inline {
    display: inline-block;
    padding: 4px 12px;
}
.status-OK {
    color: #ffffff !important;
    background: #5bb75b;
    background: -moz-linear-gradient(top, #62c462, #51a351);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background: -webkit-linear-gradient(top, #62c462, #51a351);
    background: -o-linear-gradient(top, #62c462, #51a351);
    background: linear-gradient(to bottom, #62c462, #51a351);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.status-WARNING {
    color: #ffffff !important;
    background: #faa732;
    background: -moz-linear-gradient(top, #fbb450, #f89406);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background: -webkit-linear-gradient(top, #fbb450, #f89406);
    background: -o-linear-gradient(top, #fbb450, #f89406);
    background: linear-gradient(to bottom, #fbb450, #f89406);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.status-CRITICAL {
    color: #ffffff !important;
    background: #ca2632;
    background: -moz-linear-gradient(top, #ca656c, #ca121f);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ca656c), to(#ca121f));
    background: -webkit-linear-gradient(top, #ca656c, #ca121f);
    background: -o-linear-gradient(top, #ca656c, #ca121f);
    background: linear-gradient(to bottom, #ca656c, #ca121f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca656c',endColorstr='#ca121f',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.status-UNKNOWN {
    color: #ffffff !important;
    background: #eb6841;
    background: -moz-linear-gradient(top, #e8896c, #eb582a);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8896c), to(#eb582a));
    background: -webkit-linear-gradient(top, #e8896c, #eb582a);
    background: -o-linear-gradient(top, #e8896c, #eb582a);
    background: linear-gradient(to bottom, #e8896c, #eb582a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8896c',endColorstr='#eb582a',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.status-INFO {
    color: #ffffff !important;
    background: #49afcd;
    background: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background: linear-gradient(to bottom, #5bc0de, #2f96b4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
}

